<p id="notice"><%= notice %></p>

<h1>Collection Points</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Direction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_points.each do |collection_point| %>
      <tr>
        <td><%= collection_point.name %></td>
        <td><%= collection_point.direction %></td>
        <td><%= link_to 'Show', collection_point %></td>
        <td><%= link_to 'Edit', edit_collection_point_path(collection_point) %></td>
        <td><%= link_to 'Destroy', collection_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection Point', new_collection_point_path %>
